/*  Fonts */


#navbar-mainmenu .font-navbar-main  {
  /* font-family: 'Nunito Sans', sans-serif!important; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-weight: 800!important;
  color: black;

}

#navbar-mainmenu.navbar-light .navbar-nav .nav-link {
    /* color: black; */
    font-family: 'Nunito Sans', sans-serif!important;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-weight: 800!important;
}

#navbar-mainmenu .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    /* color: rgba(0,0,0,.7); */
    color: #343a40;
    transition: 0.5s;
}

#nav-top-right-social-bar li a {
  color: black;
  transition: .3s;
}
#nav-top-right-social-bar li a:hover {
  color: #6c757d;
}

.font-custom-1 {
    font-family: 'Playfair Display', serif;
}

/* end of fonts*/

.logo-main {
  width: 100%;
  height: auto;
  min-width: 100px;
  max-width: 185px;
}


/* Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
  #nav-top-right-social-bar .nav-item {
    display: none;
  }
  #nav-searchBar {
    display: block !important;
    top: 10px;
    position: absolute;
    right: 0px;
  }
  #navbar-mainmenu {
    top: -75px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  #nav-searchBar {
    display: none;
  }

  .shop-hero-heading {
    position: relative;
    margin-top:4em;
    margin-bottom:3em;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #nav-bottom-social-bar {
    justify-content: flex-end;
  }
}


/* ======FOR ALL THUMBNAIL =========*/

/*shop thumbnails*/
.thumbnail-square-shop {
    /* object-fit: scale-down; */
    object-fit: contain;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

/* .thumbnail-square-blog {
    object-fit: cover;
    width: 100px;
    height: 70px;
    overflow: hidden;
} */



/*=== Media Queries for thumbnails ===*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
 }

/* Small devices (landscape phones, 576px and up) [iPhone 6/Pixel 2] */
/* @media (min-width: 576px) and (max-width: 767.98px) {

 } */
@media (min-width: 375px) and (max-width: 575.98px) {
  .thumbnail-square-shop {
      width: 330px;
      height: 330px;
  }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .thumbnail-square-shop {
      width: 330px;
      height: 330px;
  }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .thumbnail-square-shop {
      width: 210px;
      height: 210px;
  }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
 }

/*--------*/

/*FOOTER*/

.footer-logo img {
  width: 100%;
  height: auto;
  min-width: 100px;
  max-width: 105px;
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
  .footer-logo {
    justify-content: center;
    text-align: center;
  }
  #nav-bottom-social-bar {
    justify-content: center;
  }
}

#nav-bottom-social-bar .nav-item {
  background-color: #495057;
  border-radius: 50%;
  margin: 2px 6px;
  transition: .3s;
}
#nav-bottom-social-bar .nav-item:hover {
  background-color: #545b62;
}

#nav-bottom-social-bar .nav-link {
  padding: .25rem .5rem;
  color: #cacaca;
  transition: .3s;
}
#nav-bottom-social-bar .nav-link:hover {
  color: #fff;
}

#nav-bottom-social-bar .nav-link i {
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.btn-back-to-top {
  color: lightblue;
  width: 50px;
  height: 50px;
  background-color: red;
  float: right;
  position: sticky;
  bottom: 25px;
  z-index: 10;
}

/*=== media queries for posts ===*/

/*Medium devices (tablets, less than 992px) */



ul#gallery  {
  list-style-type: none;
padding: 0;
margin: 0;
}

#buttons button {
  background-color: #d7d7d7;
  margin: 5px 2px;
  border: none;
  padding: 3px 10px 4px 10px;
  border-radius: 4px;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}

#buttons button:hover, #buttons button.active {
  background-color: #a3ca83;
  color: #fff;
  cursor: pointer;
}

/* borrowed from organik*/

.nav.social-links a:first-child {
  padding-left: 0;
}

.nav.social-links a {
  transition: color 0.3s ease;
}
.nav.social-links a:hover {
  color: #dee2e6 !important;
}


.footer-bottom-copyright {
  background-color:#444444;
  color:grey;
}

/*=====================================================================================*/
